<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | @RooM8p</title>
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

	<body>
  		<nav>
  			<div class="container">
    			<div class="twelve columns">
          			<ul class="nav-load">
            			<li class="site-name"><%= link_to "RooM8", root_path, id: "logo"%></li>
            			<li class="hidden-mobile"><%= link_to "Contact",   contact_path %></li>
            			<li class="hidden-mobile"><%= link_to "About",   about_path %></li>
            			<li class="hidden-mobile"><%= link_to "Getting Started",   gettingstarted_path %></li>
            			<li class="hidden-mobile"><%= link_to "FAQ",   faq_path %></li>
            			<li><%= link_to "Log in", login_path %></li>
                  <% if logged_in? %>
                  <li><%= link_to "Users", '#' %></li>
                  <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", '#' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
        		</div>
      		</div>
    	</nav>

<% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
<%= yield %>
	<!-- <%= render 'layouts/footer' %> -->
</div>
</body>
</html>
